@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
    font-family: ThemeFont-Regular;
    src: url(/assets/fonts/Lato-Regular.woff2);
  }
  @font-face {
    font-family: ThemeFont-Semibold;
    src: url(/assets/fonts/Lato-Semibold.woff2);
  }

  $color1: #755139;
  $color2: #edcb6f;
  $color3: #007bff;
  $color4: #ccffcc;
  $color5: #ff8080;
  $color6: #f1ce82;

  $size1: 1.5rem;
  $size2: 3rem;
  $size3: 1rem;
  $size4: 5rem;

html,
body {
    height: 100%;
}

* {
    font-family: "ThemeFont-Regular", "Trebuchet MS", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.lato-regular{
    font-family: "ThemeFont-Regular", "Trebuchet MS", "Helvetica Neue", sans-serif;
}
.lato-semibold{
    font-family: "ThemeFont-Semibold", "Trebuchet MS", "Helvetica Neue", sans-serif;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
h1{
    @extend .lato-semibold;
}
.themeShadow {
    box-shadow: 0 0.1em 0.3em 0 rgba(0, 0, 0, 0.2), 0 0.1em 0.3em 0 rgba(0, 0, 0, 0.19) !important;
}
.border-color1{
    border-color: $color1 !important;
}
.font-color1{
    color: $color1;
}
.themeBGColor1 {
    background-color: $color1;
}
.themeBGColor2 {
    background-color: $color2;
}
.themeBGColor3 {
    background-color: $color3;
}
.themeBGColor4 {
    background-color: $color4;
}
.themeBGColor5 {
    background-color: $color5;
}
.font-size1{
    font-size: $size1;
}
.font-size3{
    font-size: $size3;
}
.font-size2{
    font-size: $size2;
}
.height4{
    height: $size4 !important;
}
.height100vh{
    height: 100vh;
}
.navbar {
    justify-content: end;
    width: 100%;
    font-size: 75%;
    height: 100%;
    padding: 0;
    a {
        text-decoration: none;
        color: white;
        float: left;
    }
}
.menuBorder {
    border-bottom: 0.1px solid !important;
    border-color: #000000 !important;
}
.dropdown-content a:hover{
    background-color: #6b5123 !important;
    color:white !important;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 15rem;
    background-color: #e4d19a;
    @extend .themeShadow;
}

.dropdown-content a {
    float: none;
    display: block;
    text-align: left;
    padding: 1% 5%;
    color: black;
}
.dropdown:hover {
    .dropdown-content {
        display: block;
        margin-top: 0;
        animation: fade-in 1s;
        -webkit-animation: fade-in 1s;
        -moz-animation: fade-in 1s;
    }
    a{
        color:white;
    }
}
.navbar a:hover{
    background-color: transparent;
}
.logo {
    width: 5rem;
    height: 5rem;
}
.mr-15{
    margin-right: 15%;
}
.appimage {
    width: 100%;
    height: 100%;
    opacity: 30%;
}
.cards {
    position: relative;
    text-align: center;
    color: white;
}

.imgOverlay {
    background: radial-gradient(ellipse at center, rgb(0, 0, 0) 0, rgb(0, 0, 0) 100%);
}

.imgTxt1 {
    top: 10%;
    position: absolute;
    width: 100%;
    .imgContent {
        margin-top: 4rem;
    }
}
.imgTxt2 {
    top: 70%;
    position: absolute;
    width: 100%;
    .imgContent {
        margin-top: 4rem;
    }
} 
mat-card-content {
    animation: fade-in 3s;
    height: 10rem;
}
mat-card-title {
    height: 30px;
    .animate-charcter
    {
       text-transform: uppercase;
      background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 20px;
    }

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
}
// #demo { width: 100px; height: 100px; background: red; }
// @keyframes bounce { 0% { transform: translateY(0); } 100% { transform: translateY(-50px); } }
// #demo { animation: bounce 0.8s infinite alternate; }
.card-tile {
    width :100%;
    height: 100%;
    position: absolute;
}
.heading1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
}
.heading2 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
}
.heading3 {
    width: 100%;
    text-align: center;
    font-size: $size1;
}

mat-toolbar {
    z-index: 5;
    background: transparent !important;
}

footer {
    position: inherit;
    height: 10%;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
hr {
    border: 1px solid #0656af;
}
mat-card {
    @extend .themeShadow;
    border-bottom: 0.1rem solid $color1;
    transition: 0.3s ease !important;
}
mat-card:hover{
    background-color: $color1;
    opacity: 0.8;
    color: white;
}
.mat-select-arrow, .mat-select-value-text {
    color: white !important;
}
.mat-select {
    width: 85% !important;
    border: 0.01rem solid white;
    border-radius: 0.25rem;
}
.cursorPointer{
    cursor: pointer;
}
.mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: none !important;
}
mat-expansion-panel-header{
    height: 3rem !important;
    background: #d1dce6 !important;
    border-bottom: 0.1rem solid $color1;
    border-radius: 0 !important;
    margin-bottom: 1%;
}
mat-expansion-panel-header:hover{
    background: #a1afbb !important;
}
mat-radio-group {
    display: flex;
    flex-direction: column;
  }
.height3rem{
    height: $size2;
}
.padding1pt{
    padding: 1%;
}
@media screen and (max-width: 600px) {
    .heading1 {
        font-size: 2rem;
    }
    .row-grid {
        padding-top: 1rem;
    }
    mat-card-content {
        animation: fade-in 3s;
        height: 3rem;
    }
    .imgContent {
        margin-top: 1rem !important;
    }
  }
  