<app-breadcrumb></app-breadcrumb>
<div class="container-fluid">
    <div class = "row">
    <div class = "col-lg-1"></div>
        <div class = "col-lg-8"><h1>{{'notfound.title' | translate}}</h1>
    <hr>
    <p>{{'notfound.desc' | translate}}</p>
    <div class =  "text-center"><app-button [class] = "'border border-color1 font-weight-bold font-color1 bg-white mr-2'" (click) = "location.back()" [buttonLabel]="'general.back'"></app-button>
        <app-button [class] = "'themeBGColor1 text-white ml-2'" [route] = "'/home'" [buttonLabel]="'general.home'"></app-button></div>
    </div>
    <div class = "col-lg-3"></div>
</div>
</div>