<mat-toolbar class="position-fixed">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/home">
      <!-- <img src="assets/images/logo.png" title="logo" alt="Logo" class="logo"> -->
    </a>
    <nav class="navbar navbar-expand-lg " fxShow="true" fxHide.lt-md>
      <div class="container-fluid">
        <ng-container *ngFor="let item of menu">
          <a [routerLink]="item.route" class="pl-lg-3 pr-lg-3 lato-semibold" *ngIf="!item.children"
            href="javascript:void(0)">{{item.menuName}}</a>
          <ng-container *ngIf="item.children && item.children.length > 0">
            <div class="dropdown pl-lg-3 pr-lg-3">
              <a class="lato-semibold dropbtn" [routerLink]="item.route">{{item.menuName}}
              </a>
              <div class="dropdown-content">
                <a [routerLink]="child.route" class="lato-semibold menuBorder" *ngFor="let child of item.children"
                  href="javascript:void(0)">{{child.menuName}}</a>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill fixedInViewport="true">
  <mat-sidenav #sidenav>
    <ng-container *ngFor="let item of menu">
      <a [routerLink]="item.route" class="pl-lg-3 pr-lg-3 lato-semibold" *ngIf="!item.children"
        href="javascript:void(0)">{{item.menuName}}</a>
      <ng-container *ngIf="item.children && item.children.length > 0">
        <div class="dropdown pl-lg-3 pr-lg-3">
          <a class="lato-semibold dropbtn" [routerLink]="item.route">{{item.menuName}}
          </a>
          <div class="dropdown-content">
            <a [routerLink]="child.route" class="lato-semibold menuBorder" *ngFor="let child of item.children"
              href="javascript:void(0)">{{child.menuName}}</a>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <footer class="bg-dark mt-4">
      All rights reserved.
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>