<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
            <h1>{{page[1] + '.' +  page[3]+'.title' }} - {{'general.practice' }}</h1>
            <hr>
            <div class = "themeShadow rounded"><mat-accordion multi>
                <mat-expansion-panel [expanded] = true>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class = "font-size1">{{'general.practiceSets' }}</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class = "pt-4"><app-cards [items] = "sections"></app-cards></div>
                </mat-expansion-panel>
              </mat-accordion></div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>